.status.online {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status.offline {
    background-color: gray;
}

.message.left {
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    margin-right: auto;
    color: darkmagenta;
}

.message.right {
    text-align: right;
    background-color: #c6e2b5;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    margin-left: auto;
    color: black ;
}
